sme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== Custom Aggregate Business Information Entity Schema Module ===== -->
<!-- ====================================================================== -->
<!--,Schema agency:  XBRL Japan
Schema version: 0.1
Schema date:    10NOV22

Copyright (C) XBRL Japan. All Rights Reserved.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:31"
	xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2"
	xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:31"
	xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:31"
	xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:31"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="23.1">
	<!-- ======================================================================= -->
	<!-- ===== Imports                                                     ===== -->
	<!-- ======================================================================= -->
	<!-- ======================================================================= -->
	<!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
	<!-- ======================================================================= -->
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:31" schemaLocation="UnqualifiedDataType_31p0.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
	<!-- ======================================================================= -->
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:31" schemaLocation="QualifiedDataType_31p0.xsd"/>
	<!-- ======================================================================= -->
	<!-- ===== Element Declarations                                        ===== -->
	<!-- ======================================================================= -->
	<!-- ================================================================== -->
	<!-- ===== Type Definitions                                       ===== -->
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIExchangedDocumentContext ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIExchangedDocumentContext">
		<!--UN01005479-->
		<xsd:sequence>
			<xsd:element name="SpecifiedTransactionID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005480-->
			</xsd:element>
			<xsd:element name="ProcessingTransactionDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01012746-->
			</xsd:element>
			<xsd:element name="BusinessProcessSpecifiedCIDocumentContextParameter" type="ram:CIDocumentContextParameterType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005481-->
			</xsd:element>
			<xsd:element name="ScenarioSpecifiedCIDocumentContextParameter" type="ram:CIDocumentContextParameterType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005483-->
			</xsd:element>
			<xsd:element name="ApplicationSpecifiedCIDocumentContextParameter" type="ram:CIDocumentContextParameterType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005484-->
			</xsd:element>
			<xsd:element name="SubsetSpecifiedCIDocumentContextParameter" type="ram:CIDocumentContextParameterType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005486-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIDocumentContextParameterType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIDocumentContextParameterType">
		<!--UN01005471-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="Value" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005473-->
			</xsd:element>
			<xsd:element name="SpecifiedCIDocumentVersion" type="ram:CIDocumentVersionType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005474-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIDocumentVersionType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIDocumentVersionType">
		<!--UN01005475-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="IssueDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005582-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIIHExchangedDocument ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIIHExchangedDocument">
		<!--UN01005861-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="Name" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005815-->
			</xsd:element>
			<xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005818-->
			</xsd:element>
			<xsd:element name="IssueDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005582-->
			</xsd:element>
			<xsd:element name="PreviousRevisionID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005874-->
			</xsd:element>
			<xsd:element name="CategoryCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005841-->
			</xsd:element>
			<xsd:element name="SubtypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01014899-->
			</xsd:element>
			<xsd:element name="IncludedCINote" type="ram:CINoteType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01005957-->
			</xsd:element>
			<xsd:element name="ReferenceCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01014895-->
			</xsd:element>
			<xsd:element name="AttachedSpecifiedBinaryFile" type="ram:SpecifiedBinaryFileType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--JPS2200015-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CINoteType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CINoteType">
		<!--UN01005557-->
		<xsd:sequence>
			<xsd:element name="Subject" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005558-->
			</xsd:element>
			<xsd:element name="Content" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005560-->
			</xsd:element>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIReferencedDocumentType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIReferencedDocumentType">
		<!--UN01005579-->
		<xsd:sequence>
			<xsd:element name="IssuerAssignedID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005580-->
			</xsd:element>
			<xsd:element name="IssueDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005582-->
			</xsd:element>
			<xsd:element name="LineID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005585-->
			</xsd:element>
			<xsd:element name="RevisionID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005588-->
			</xsd:element>
			<xsd:element name="Information" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01006415-->
			</xsd:element>
			<xsd:element name="SubordinateLineID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01012923-->
			</xsd:element>
			<xsd:element name="SubtypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01014899-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: SpecifiedBinaryFileType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="SpecifiedBinaryFileType">
		<!--UN01006014-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="FileName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01006019-->
			</xsd:element>
			<xsd:element name="URIID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005858-->
			</xsd:element>
			<xsd:element name="MIMECode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01006021-->
			</xsd:element>
			<xsd:element name="Description" type="udt:TextType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005817-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIIHSupplyChainTradeTransaction ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIIHSupplyChainTradeTransaction">
		<!--UN01005936-->
		<xsd:sequence>
			<xsd:element name="ApplicableCIIHSupplyChainTradeAgreement" type="ram:CIIHSupplyChainTradeAgreementType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005937-->
			</xsd:element>
			<xsd:element name="ApplicableCIIHSupplyChainTradeSettlement" type="ram:CIIHSupplyChainTradeSettlementType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005939-->
			</xsd:element>
			<xsd:element name="IncludedCIILSupplyChainTradeLineItem" type="ram:CIILSupplyChainTradeLineItemType"  minOccurs="1" maxOccurs="unbounded"  >
				<!--UN01005940-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIIHSupplyChainTradeAgreementType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIIHSupplyChainTradeAgreementType">
		<!--UN01005878-->
		<xsd:sequence>
			<xsd:element name="SellerCITradeParty" type="ram:CITradePartyType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005879-->
			</xsd:element>
			<xsd:element name="BuyerCITradeParty" type="ram:CITradePartyType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005880-->
			</xsd:element>
			<xsd:element name="SpecifiedProcuringProject" type="ram:ProcuringProjectType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01011516-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradePartyType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradePartyType">
		<!--UN01005756-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="GlobalID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005811-->
			</xsd:element>
			<xsd:element name="Name" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005815-->
			</xsd:element>
			<xsd:element name="PostalCITradeAddress" type="ram:CITradeAddressType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005762-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradeContactType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradeContactType">
		<!--UN01005718-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="PersonName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005720-->
			</xsd:element>
			<xsd:element name="DepartmentName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005721-->
			</xsd:element>
			<xsd:element name="PersonID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005725-->
			</xsd:element>
			<xsd:element name="TelephoneCIUniversalCommunication" type="ram:CIUniversalCommunicationType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005726-->
			</xsd:element>
			<xsd:element name="FaxCIUniversalCommunication" type="ram:CIUniversalCommunicationType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005729-->
			</xsd:element>
			<xsd:element name="EmailURICIUniversalCommunication" type="ram:CIUniversalCommunicationType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005730-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIUniversalCommunicationType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIUniversalCommunicationType">
		<!--UN01005857-->
		<xsd:sequence>
			<xsd:element name="URIID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005858-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradeAddressType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradeAddressType">
		<!--UN01005687-->
		<xsd:sequence>
			<xsd:element name="PostcodeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005689-->
			</xsd:element>
			<xsd:element name="LineOne" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005692-->
			</xsd:element>
			<xsd:element name="LineTwo" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005693-->
			</xsd:element>
			<xsd:element name="LineThree" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005694-->
			</xsd:element>
			<xsd:element name="CountryID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005700-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: ProcuringProjectType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="ProcuringProjectType">
		<!--UN01000371-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="Name" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005815-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIIHSupplyChainTradeSettlementType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIIHSupplyChainTradeSettlementType">
		<!--UN01005909-->
		<xsd:sequence>
			<xsd:element name="TaxCurrencyCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005913-->
			</xsd:element>
			<xsd:element name="InvoiceCurrencyCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005914-->
			</xsd:element>
			<xsd:element name="PaymentCurrencyCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005915-->
			</xsd:element>
			<xsd:element name="InvoicerCITradeParty" type="ram:CITradePartyType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005916-->
			</xsd:element>
			<xsd:element name="InvoiceeCITradeParty" type="ram:CITradePartyType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005917-->
			</xsd:element>
			<xsd:element name="PayeeCITradeParty" type="ram:CITradePartyType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005918-->
			</xsd:element>
			<xsd:element name="PayerCITradeParty" type="ram:CITradePartyType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005919-->
			</xsd:element>
			<xsd:element name="InvoiceApplicableCITradeCurrencyExchange" type="ram:CITradeCurrencyExchangeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005921-->
			</xsd:element>
			<xsd:element name="PaymentApplicableCITradeCurrencyExchange" type="ram:CITradeCurrencyExchangeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005922-->
			</xsd:element>
			<xsd:element name="SpecifiedCITradeSettlementPaymentMeans" type="ram:CITradeSettlementPaymentMeansType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01005923-->
			</xsd:element>
			<xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01014644-->
			</xsd:element>
			<xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01009665-->
			</xsd:element>
			<xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01014894-->
			</xsd:element>
			<xsd:element name="SpecifiedCITradePaymentTerms" type="ram:CITradePaymentTermsType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005929-->
			</xsd:element>
			<xsd:element name="SpecifiedCIIHTradeSettlementMonetarySummation" type="ram:CIIHTradeSettlementMonetarySummationType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005930-->
			</xsd:element>
			<xsd:element name="SpecifiedCIFinancialAdjustment" type="ram:CIFinancialAdjustmentType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01014643-->
			</xsd:element>
			<xsd:element name="OutstandingCIIHTradeSettlementMonetarySummation" type="ram:CIIHTradeSettlementMonetarySummationType"  minOccurs="0" maxOccurs="1"  >
				<!--JPS2200016-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradeCurrencyExchangeType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradeCurrencyExchangeType">
		<!--UN01005738-->
		<xsd:sequence>
			<xsd:element name="SourceCurrencyCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005739-->
			</xsd:element>
			<xsd:element name="TargetCurrencyCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005741-->
			</xsd:element>
			<xsd:element name="ConversionRate" type="udt:RateType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005744-->
			</xsd:element>
			<xsd:element name="ConversionRateDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005745-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradeSettlementPaymentMeansType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradeSettlementPaymentMeansType">
		<!--UN01005670-->
		<xsd:sequence>
			<xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005818-->
			</xsd:element>
			<xsd:element name="Information" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01006415-->
			</xsd:element>
			<xsd:element name="aidAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--JPS2200010-->
			</xsd:element>
			<xsd:element name="PayeePartyCICreditorFinancialAccount" type="ram:CICreditorFinancialAccountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005677-->
			</xsd:element>
			<xsd:element name="PayeeSpecifiedCICreditorFinancialInstitution" type="ram:CICreditorFinancialInstitutionType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005679-->
			</xsd:element>
			<xsd:element name="ApplicableTradeSettlementFinancialCard" type="ram:TradeSettlementFinancialCardType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01006057-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CICreditorFinancialAccountType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CICreditorFinancialAccountType">
		<!--UN01005398-->
		<xsd:sequence>
			<xsd:element name="AccountName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005400-->
			</xsd:element>
			<xsd:element name="ProprietaryID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005401-->
			</xsd:element>
			<xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005818-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CICreditorFinancialInstitutionType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CICreditorFinancialInstitutionType">
		<!--UN01005402-->
		<xsd:sequence>
			<xsd:element name="Name" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005815-->
			</xsd:element>
			<xsd:element name="JapanFinancialInstitutionCommonID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01011521-->
			</xsd:element>
			<xsd:element name="Sub-DivisionBranchFinancialInstitution" type="ram:BranchFinancialInstitutionType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005428-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: BranchFinancialInstitutionType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="BranchFinancialInstitutionType">
		<!--UN01003138-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="Name" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005815-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: TradeSettlementFinancialCardType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="TradeSettlementFinancialCardType">
		<!--UN01004493-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005818-->
			</xsd:element>
			<xsd:element name="CardholderName" type="udt:TextType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01004497-->
			</xsd:element>
			<xsd:element name="IssuingCompanyName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01009966-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradeAllowanceChargeType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradeAllowanceChargeType">
		<!--UN01005706-->
		<xsd:sequence>
			<xsd:element name="ChargeIndicator" type="udt:IndicatorType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005707-->
			</xsd:element>
			<xsd:element name="CalculationPercent" type="udt:PercentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005710-->
			</xsd:element>
			<xsd:element name="ActualAmount" type="udt:AmountType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005490-->
			</xsd:element>
			<xsd:element name="ReasonCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005488-->
			</xsd:element>
			<xsd:element name="Reason" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005489-->
			</xsd:element>
			<xsd:element name="BasisAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01008286-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradeTaxType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradeTaxType">
		<!--UN01005832-->
		<xsd:sequence>
			<xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005818-->
			</xsd:element>
			<xsd:element name="BasisAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01008286-->
			</xsd:element>
			<xsd:element name="CategoryCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005841-->
			</xsd:element>
			<xsd:element name="CategoryName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005850-->
			</xsd:element>
			<xsd:element name="RateApplicablePercent" type="udt:PercentType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01007174-->
			</xsd:element>
			<xsd:element name="GrandTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01013040-->
			</xsd:element>
			<xsd:element name="LocalTaxSystemID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01014650-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CISpecifiedPeriodType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CISpecifiedPeriodType">
		<!--UN01005608-->
		<xsd:sequence>
			<xsd:element name="StartDateTime" type="udt:DateTimeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005612-->
			</xsd:element>
			<xsd:element name="EndDateTime" type="udt:DateTimeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005613-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradePaymentTermsType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradePaymentTermsType">
		<!--UN01005779-->
		<xsd:sequence>
			<xsd:element name="Description" type="udt:TextType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005817-->
			</xsd:element>
			<xsd:element name="DueDateDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005784-->
			</xsd:element>
			<xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005818-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIIHTradeSettlementMonetarySummationType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIIHTradeSettlementMonetarySummationType">
		<!--UN01005941-->
		<xsd:sequence>
			<xsd:element name="ChargeTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005943-->
			</xsd:element>
			<xsd:element name="AllowanceTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005944-->
			</xsd:element>
			<xsd:element name="GrandTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01013040-->
			</xsd:element>
			<xsd:element name="TotalPrepaidAmount" type="udt:AmountType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005950-->
			</xsd:element>
			<xsd:element name="DuePayableAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01008445-->
			</xsd:element>
			<xsd:element name="ReferenceCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01014895-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIFinancialAdjustmentType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIFinancialAdjustmentType">
		<!--UN01005487-->
		<xsd:sequence>
			<xsd:element name="ReasonCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005488-->
			</xsd:element>
			<xsd:element name="Reason" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005489-->
			</xsd:element>
			<xsd:element name="ActualAmount" type="udt:AmountType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005490-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILSupplyChainTradeLineItemType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILSupplyChainTradeLineItemType">
		<!--UN01005988-->
		<xsd:sequence>
			<xsd:element name="AssociatedCIILDocumentLineDocument" type="ram:CIILDocumentLineDocumentType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005989-->
			</xsd:element>
			<xsd:element name="SpecifiedCIILSupplyChainTradeAgreement" type="ram:CIILSupplyChainTradeAgreementType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005990-->
			</xsd:element>
			<xsd:element name="SpecifiedCIILSupplyChainTradeDelivery" type="ram:CIILSupplyChainTradeDeliveryType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005991-->
			</xsd:element>
			<xsd:element name="SpecifiedCIILSupplyChainTradeSettlement" type="ram:CIILSupplyChainTradeSettlementType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005992-->
			</xsd:element>
			<xsd:element name="SubordinateCIILBSubordinateTradeLineItem" type="ram:CIILBSubordinateTradeLineItemType"  minOccurs="1" maxOccurs="unbounded"  >
				<!--UN01009669-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILDocumentLineDocumentType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILDocumentLineDocumentType">
		<!--UN01005953-->
		<xsd:sequence>
			<xsd:element name="LineID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005585-->
			</xsd:element>
			<xsd:element name="CategoryCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005841-->
			</xsd:element>
			<xsd:element name="IncludedCINote" type="ram:CINoteType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01005957-->
			</xsd:element>
			<xsd:element name="ReferenceCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01014895-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILSupplyChainTradeAgreementType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILSupplyChainTradeAgreementType">
		<!--UN01005958-->
		<xsd:sequence>
			<xsd:element name="SellerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01009654-->
			</xsd:element>
			<xsd:element name="BuyerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01009655-->
			</xsd:element>
			<xsd:element name="ContractReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005963-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILSupplyChainTradeDeliveryType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILSupplyChainTradeDeliveryType">
		<!--UN01005968-->
		<xsd:sequence>
			<xsd:element name="ShipToCITradeParty" type="ram:CITradePartyType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005980-->
			</xsd:element>
			<xsd:element name="ActualDeliveryCISupplyChainEvent" type="ram:CISupplyChainEventType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005986-->
			</xsd:element>
			<xsd:element name="DeliveryNoteReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01006041-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CISupplyChainEventType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CISupplyChainEventType">
		<!--UN01005626-->
		<xsd:sequence>
			<xsd:element name="OccurrenceDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005628-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILSupplyChainTradeSettlementType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILSupplyChainTradeSettlementType">
		<!--UN01005994-->
		<xsd:sequence>
			<xsd:element name="DirectionCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01014641-->
			</xsd:element>
			<xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01014644-->
			</xsd:element>
			<xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01009665-->
			</xsd:element>
			<xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01014894-->
			</xsd:element>
			<xsd:element name="SpecifiedCIILTradeSettlementMonetarySummation" type="ram:CIILTradeSettlementMonetarySummationType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01006002-->
			</xsd:element>
			<xsd:element name="SpecifiedCIFinancialAdjustment" type="ram:CIFinancialAdjustmentType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01014643-->
			</xsd:element>
			<xsd:element name="InvoiceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01014642-->
			</xsd:element>
			<xsd:element name="AdditionalReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01009656-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILTradeSettlementMonetarySummationType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILTradeSettlementMonetarySummationType">
		<!--UN01006006-->
		<xsd:sequence>
			<xsd:element name="TaxTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01006011-->
			</xsd:element>
			<xsd:element name="NetLineTotalAmount" type="udt:AmountType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01008456-->
			</xsd:element>
			<xsd:element name="NetIncludingTaxesLineTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01008457-->
			</xsd:element>
			<xsd:element name="GrandTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01013040-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILBSubordinateTradeLineItemType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILBSubordinateTradeLineItemType">
		<!--UN01009647-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="CategoryCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005841-->
			</xsd:element>
			<xsd:element name="SpecifiedCIILBSupplyChainTradeAgreement" type="ram:CIILBSupplyChainTradeAgreementType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01009649-->
			</xsd:element>
			<xsd:element name="SpecifiedCIILBSupplyChainTradeDelivery" type="ram:CIILBSupplyChainTradeDeliveryType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01009650-->
			</xsd:element>
			<xsd:element name="SpecifiedCIILBSupplyChainTradeSettlement" type="ram:CIILBSupplyChainTradeSettlementType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01009651-->
			</xsd:element>
			<xsd:element name="ApplicableCITradeProduct" type="ram:CITradeProductType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01010016-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILBSupplyChainTradeAgreementType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILBSupplyChainTradeAgreementType">
		<!--UN01009653-->
		<xsd:sequence>
			<xsd:element name="SellerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01009654-->
			</xsd:element>
			<xsd:element name="BuyerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01009655-->
			</xsd:element>
			<xsd:element name="AdditionalReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01009656-->
			</xsd:element>
			<xsd:element name="NetPriceProductCITradePrice" type="ram:CITradePriceType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01009658-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradePriceType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradePriceType">
		<!--UN01005790-->
		<xsd:sequence>
			<xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005818-->
			</xsd:element>
			<xsd:element name="ChargeAmount" type="udt:AmountType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005792-->
			</xsd:element>
			<xsd:element name="BasisQuantity" type="udt:QuantityType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005793-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILBSupplyChainTradeDeliveryType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILBSupplyChainTradeDeliveryType">
		<!--UN01009659-->
		<xsd:sequence>
			<xsd:element name="PackageQuantity" type="udt:QuantityType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01009660-->
			</xsd:element>
			<xsd:element name="ProductUnitQuantity" type="udt:QuantityType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01009661-->
			</xsd:element>
			<xsd:element name="PerPackageUnitQuantity" type="udt:QuantityType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01009662-->
			</xsd:element>
			<xsd:element name="BilledQuantity" type="udt:QuantityType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01014639-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CIILBSupplyChainTradeSettlementType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CIILBSupplyChainTradeSettlementType">
		<!--UN01009664-->
		<xsd:sequence>
			<xsd:element name="DirectionCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01014641-->
			</xsd:element>
			<xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01009665-->
			</xsd:element>
			<xsd:element name="InvoiceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01014642-->
			</xsd:element>
			<xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01014644-->
			</xsd:element>
			<xsd:element name="SpecifiedCIFinancialAdjustment" type="ram:CIFinancialAdjustmentType"  minOccurs="0" maxOccurs="unbounded"  >
				<!--UN01014643-->
			</xsd:element>
			<xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01014894-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: CITradeProductType ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="CITradeProductType">
		<!--UN01005809-->
		<xsd:sequence>
			<xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005810-->
			</xsd:element>
			<xsd:element name="GlobalID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005811-->
			</xsd:element>
			<xsd:element name="SellerAssignedID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005812-->
			</xsd:element>
			<xsd:element name="BuyerAssignedID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005813-->
			</xsd:element>
			<xsd:element name="ManufacturerAssignedID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005814-->
			</xsd:element>
			<xsd:element name="Name" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005815-->
			</xsd:element>
			<xsd:element name="Description" type="udt:TextType"  minOccurs="1" maxOccurs="1"  >
				<!--UN01005817-->
			</xsd:element>
			<xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01005818-->
			</xsd:element>
			<xsd:element name="ProductGroupID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01008524-->
			</xsd:element>
			<xsd:element name="AdditionalDescription" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
				<!--UN01012942-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>