data/base/ADS/AdcGlDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             ADC GL Details v1.0                                         -->
<!-- Message Rev.:        8                                                           -->
<!-- Transaction:         AA - Audit Data Collection                                  -->
<!-- Transaction Rev.:    271                                                         -->
<!-- Datamodel:           Audit Data Collection Datamodel, version HEAD               -->
<!-- Datamodel Rev.:      347                                                         -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     AdcsML                                                      -->
<!-- Generated at:        02-05-2021 15:53:54                                         -->
<!-- Generated using:     EC-Design 2.5.0 (http://www.ec-design.nl)                   -->
<!-- Generated by:        Jan Vrijenhoek (Digitect)                                   -->
<!-- Organisation:        Digitect B.V. (Digitect)                                    -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://schemas.iso.org/AdcsML/Messages/AdcGlDetails-v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"
		xmlns:str="http://schemas.iso.org/AdcsML/Messages/AdcGlDetails-v1"
		xmlns:cdt="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://schemas.iso.org/AdcsML/Adc_DataTypes-v1" schemaLocation="Adc_DataTypes.xsd"/>
	<xsd:element name="AdcGlDetails">
		<xsd:annotation>
			<xsd:documentation>MESSAGE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="GlDtls" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>GL DETAILS</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="JrnId" minOccurs="1" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Journal ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="JrnNr" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Journal Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GlAcntNr" minOccurs="0" maxOccurs="1" type="cdt:TypGlAcntNr100">
								<xsd:annotation>
									<xsd:documentation>GL Account Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="FiscYr" minOccurs="0" maxOccurs="1" type="cdt:TypYrId">
								<xsd:annotation>
									<xsd:documentation>Fiscal Year</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcntingPer" minOccurs="0" maxOccurs="1" type="cdt:TypPerId">
								<xsd:annotation>
									<xsd:documentation>Accounting Period</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="EffectiveDt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
								<xsd:annotation>
									<xsd:documentation>Effective Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="JrnLnNr" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
								<xsd:annotation>
									<xsd:documentation>Journal Line Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="JeTypCd" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>JE Type Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="JeHdrDscr" minOccurs="0" maxOccurs="1" type="cdt:TypText1000">
								<xsd:annotation>
									<xsd:documentation>JE Header Description</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="JeLnDscr" minOccurs="0" maxOccurs="1" type="cdt:TypText1000">
								<xsd:annotation>
									<xsd:documentation>JE Line Description</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SrcCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
								<xsd:annotation>
									<xsd:documentation>Source Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BillNr" minOccurs="0" maxOccurs="1" type="cdt:TypText100">
								<xsd:annotation>
									<xsd:documentation>Bill Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BillTypCd" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Bill Type Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BillDt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
								<xsd:annotation>
									<xsd:documentation>Bill Date</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Qt" minOccurs="0" maxOccurs="1" type="cdt:TypQt">
								<xsd:annotation>
									<xsd:documentation>Quantity</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="UomCd" minOccurs="0" maxOccurs="1" type="cdt:TypMeaUnitCd">
								<xsd:annotation>
									<xsd:documentation>UOM Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="UnitPrice" minOccurs="0" maxOccurs="1" type="cdt:TypAmt8">
								<xsd:annotation>
									<xsd:documentation>Unit Price</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SetlMthdCd" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Settlement Method Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CrDbInd" minOccurs="0" maxOccurs="1" type="cdt:TypCrDbCd">
								<xsd:annotation>
									<xsd:documentation>Credit Debit Indicator</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RevInd" minOccurs="0" maxOccurs="1" type="cdt:TypRevIndCd">
								<xsd:annotation>
									<xsd:documentation>Reversal Indicator</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="RevJrnId" minOccurs="0" maxOccurs="1" type="cdt:TypId100">
								<xsd:annotation>
									<xsd:documentation>Reversal Journal ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CnclSign" minOccurs="0" maxOccurs="1" type="cdt:TypBoolean">
								<xsd:annotation>
									<xsd:documentation>Cancellation Sign</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcntSgEmp" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Account Segment Employee</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcntSgProj" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Account Segment Project</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AcntSgBankAcnt" minOccurs="0" maxOccurs="1" type="cdt:TypId60">
								<xsd:annotation>
									<xsd:documentation>Account Segment Bank Account</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TrAmt" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>gl details - TRANSACTION AMOUNT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FuncAmt" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
											<xsd:annotation>
												<xsd:documentation>Functional Amount</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="FuncCurCd" minOccurs="0" maxOccurs="1" type="cdt:TypCurCd">
											<xsd:annotation>
												<xsd:documentation>Functional Currency Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TrAmt" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
											<xsd:annotation>
												<xsd:documentation>Transaction Amount</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="TrCurCd" minOccurs="0" maxOccurs="1" type="cdt:TypCurCd">
											<xsd:annotation>
												<xsd:documentation>Transaction Currency Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="RprtAmt" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
											<xsd:annotation>
												<xsd:documentation>Reporting Amount</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="RprtCurCd" minOccurs="0" maxOccurs="1" type="cdt:TypCurCd">
											<xsd:annotation>
												<xsd:documentation>Reporting Currency Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="LocAmt" minOccurs="0" maxOccurs="1" type="cdt:TypAmt">
											<xsd:annotation>
												<xsd:documentation>Local Amount</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="LocCurCd" minOccurs="0" maxOccurs="1" type="cdt:TypCurCd">
											<xsd:annotation>
												<xsd:documentation>Local Currency Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Crea" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>gl details - CREATED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Tm" minOccurs="0" maxOccurs="1" type="cdt:TypTm">
											<xsd:annotation>
												<xsd:documentation>Time</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Aprv" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>gl details - APPROVED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Dt" minOccurs="0" maxOccurs="1" type="cdt:TypDt">
											<xsd:annotation>
												<xsd:documentation>Date</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Posted" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>gl details - POSTED</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UserId" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>User ID</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="AcntSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>gl details - ACCOUNT SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AcntSgNr" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
											<xsd:annotation>
												<xsd:documentation>Account Segment Number</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="AcntSgCd" minOccurs="0" maxOccurs="1" type="cdt:TypText60">
											<xsd:annotation>
												<xsd:documentation>Account Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BusSg" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>gl details - BUSINESS SEGMENT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BusSgCd" minOccurs="0" maxOccurs="1" type="cdt:TypId25">
											<xsd:annotation>
												<xsd:documentation>Business Segment Code</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
