data/schema/data/standard/ReusableAggregateBusinessInformationEntity_SME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== Custom Aggregate Business Information Entity Schema Module ===== -->
<!-- ====================================================================== -->
<!--
Copyright (C) XBRL Japan. All Rights Reserved.   
Schema agency:  XBRL Japan
Schema version: 0.1
Schema date:    16APR23
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:31"
    xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:31"
    xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:31" targetNamespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:31" elementFormDefault="qualified" attributeFormDefault="unqualified" version="23.1">
    <!-- ======================================================================= -->
    <!-- ===== Imports                                                     ===== -->
    <!-- ======================================================================= -->
    <!-- ======================================================================= -->
    <!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
    <!-- ======================================================================= -->
    <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:31" schemaLocation="UnqualifiedDataType_31p0.xsd"/>
    <!-- ======================================================================= -->
    <!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
    <!-- ======================================================================= -->
    <xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:31" schemaLocation="QualifiedDataType_31p0.xsd"/>
    <!-- ======================================================================= -->
    <!-- ===== Element Declarations                                        ===== -->
    <!-- ======================================================================= -->
    <!-- ================================================================== -->
    <!-- ===== Type Definitions                                       ===== -->
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIExchangedDocumentContextType        ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIExchangedDocumentContextType">
        <!--UN01005479-->
        <xsd:sequence>
            <xsd:element name="BusinessProcessSpecifiedCIDocumentContextParameter" type="ram:CIDocumentContextParameterType" minOccurs="1">
                <!--UN01005481-->
            </xsd:element>
            <xsd:element name="SubsetSpecifiedCIDocumentContextParameter" type="ram:CIDocumentContextParameterType" minOccurs="1">
                <!--UN01005486-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIIHExchangedDocumentType             ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIIHExchangedDocumentType">
        <!--UN01005861-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="1">
                <!--UN01005862-->
            </xsd:element>
            <xsd:element name="TypeCode" type="udt:CodeType" minOccurs="1">
                <!--UN01005864-->
            </xsd:element>
            <xsd:element name="IssueDateTime" type="udt:DateTimeType" minOccurs="1">
                <!--UN01005865-->
            </xsd:element>
            <xsd:element name="IncludedCINote" type="ram:CINoteType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005876-->
            </xsd:element>
            <xsd:element name="ReferenceCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01012702-->
            </xsd:element>
            <xsd:element name="AttachedSpecifiedBinaryFile" type="ram:SpecifiedBinaryFileType" minOccurs="0" maxOccurs="unbounded">
                <!--JPS2200015-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIIHSupplyChainTradeTransactionType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIIHSupplyChainTradeTransactionType">
        <!--UN01005936-->
        <xsd:sequence>
            <xsd:element name="ApplicableCIIHSupplyChainTradeAgreement" type="ram:CIIHSupplyChainTradeAgreementType" minOccurs="1">
                <!--UN01005937-->
            </xsd:element>
            <xsd:element name="ApplicableCIIHSupplyChainTradeSettlement" type="ram:CIIHSupplyChainTradeSettlementType" minOccurs="1">
                <!--UN01005939-->
            </xsd:element>
            <xsd:element name="IncludedCIILSupplyChainTradeLineItem" type="ram:CIILSupplyChainTradeLineItemType" minOccurs="1" maxOccurs="unbounded">
                <!--UN01005940-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIDocumentContextParameterType        ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIDocumentContextParameterType">
        <!--UN01005471-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="1">
                <!--UN01005472-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CINoteType                            ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CINoteType">
        <!--UN01005557-->
        <xsd:sequence>
            <xsd:element name="Content" type="udt:TextType" minOccurs="0">
                <!--UN01005560-->
            </xsd:element>
            <xsd:element name="ID" type="udt:IDType" minOccurs="0">
                <!--UN01005562-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIReferencedDocumentType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIReferencedDocumentType">
        <!--UN01005579-->
        <xsd:sequence>
            <xsd:element name="IssuerAssignedID" type="udt:IDType" minOccurs="0">
                <!--UN01005580-->
            </xsd:element>
            <xsd:element name="URIID" type="udt:IDType" minOccurs="0">
                <!--UN01005581-->
            </xsd:element>
            <xsd:element name="IssueDateTime" type="qdt:DateMandatoryDateTimeType" minOccurs="0">
                <!--UN01005582-->
            </xsd:element>
            <xsd:element name="StatusCode" type="qdt:DocumentStatusCodeType" minOccurs="0">
                <!--UN01005583-->
            </xsd:element>
            <xsd:element name="CopyIndicator" type="udt:IndicatorType" minOccurs="0">
                <!--UN01005584-->
            </xsd:element>
            <xsd:element name="LineID" type="udt:IDType" minOccurs="0">
                <!--UN01005585-->
            </xsd:element>
            <xsd:element name="ReferenceTypeCode" type="qdt:ReferenceCodeType" minOccurs="0">
                <!--UN01005586-->
            </xsd:element>
            <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0">
                <!--UN01005587-->
            </xsd:element>
            <xsd:element name="RevisionID" type="udt:IDType" minOccurs="0">
                <!--UN01005588-->
            </xsd:element>
            <xsd:element name="Name" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005589-->
            </xsd:element>
            <xsd:element name="Information" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006415-->
            </xsd:element>
            <xsd:element name="PreviousRevisionID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01007143-->
            </xsd:element>
            <xsd:element name="SectionName" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01007144-->
            </xsd:element>
            <xsd:element name="TypeCode" type="qdt:DocumentCodeType" minOccurs="0">
                <!--UN01009672-->
            </xsd:element>
            <xsd:element name="AttachmentBinaryObject" type="udt:BinaryObjectType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01011455-->
            </xsd:element>
            <xsd:element name="PageID" type="udt:IDType" minOccurs="0" maxOccurs="1">
                <!--UN01012725-->
            </xsd:element>
            <xsd:element name="ReceiptDateTime" type="udt:DateTimeType" minOccurs="0" maxOccurs="1">
                <!--UN01012922-->
            </xsd:element>
            <xsd:element name="SubordinateLineID" type="udt:IDType" minOccurs="0" maxOccurs="1">
                <!--UN01012923-->
            </xsd:element>
            <xsd:element name="PurposeCode" type="qdt:MessageFunctionCodeType" minOccurs="0" maxOccurs="1">
                <!--UN01013317-->
            </xsd:element>
            <xsd:element name="CategoryCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
                <!--UN01013318-->
            </xsd:element>
            <xsd:element name="RequisitionerAssignedID" type="udt:IDType" minOccurs="0" maxOccurs="1">
                <!--UN01013374-->
            </xsd:element>
            <xsd:element name="SubtypeCode" type="udt:CodeType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01014899-->
            </xsd:element>
            <xsd:element name="IssuerCITradeParty" type="ram:CITradePartyType" minOccurs="0">
                <!--UN01005590-->
            </xsd:element>
            <xsd:element name="AttachedSpecifiedBinaryFile" type="ram:SpecifiedBinaryFileType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005591-->
            </xsd:element>
            <xsd:element name="EffectiveCISpecifiedPeriod" type="ram:CISpecifiedPeriodType" minOccurs="0">
                <!--UN01007145-->
            </xsd:element>
            <xsd:element name="IncludedCINote" type="ram:CINoteType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01012726-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: SpecifiedBinaryFileType 
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="SpecifiedBinaryFileType">
        <!--UN01006014-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006015-->
            </xsd:element>
            <!--<xsd:element name="Title" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                -->            <!--UN01006016-->            <!--
            </xsd:element>
            <xsd:element name="AuthorName" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                -->            <!--UN01006017-->            <!--
            </xsd:element>-->
            <!--<xsd:element name="VersionID" type="udt:IDType" minOccurs="0">
                -->            <!--UN01006018-->            <!--
            </xsd:element>-->
            <xsd:element name="FileName" type="udt:TextType" minOccurs="0">
                <!--UN01006019-->
            </xsd:element>
            <xsd:element name="URIID" type="udt:IDType" minOccurs="0">
                <!--UN01006020-->
            </xsd:element>
            <xsd:element name="MIMECode" type="udt:CodeType" minOccurs="0">
                <!--UN01006021-->
            </xsd:element>
            <!--<xsd:element name="EncodingCode" type="udt:CodeType" minOccurs="0">
                -->            <!--UN01006022-->            <!--
            </xsd:element>
            <xsd:element name="CharacterSetCode" type="udt:CodeType" minOccurs="0">
                -->            <!--UN01006023-->            <!--
            </xsd:element>-->
            <xsd:element name="IncludedBinaryObject" type="udt:BinaryObjectType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006024-->
            </xsd:element>
            <!--<xsd:element name="Access" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                -->            <!--UN01006025-->            <!--
            </xsd:element>-->
            <xsd:element name="Description" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006026-->
            </xsd:element>
            <!--<xsd:element name="SizeMeasure" type="udt:MeasureType" minOccurs="0">
                -->            <!--UN01006027-->            <!--
            </xsd:element>
            <xsd:element name="AccessAvailabilitySpecifiedPeriod" type="ram:SpecifiedPeriodType" minOccurs="0">
                -->            <!--UN01006028-->            <!--
            </xsd:element>-->
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIIHSupplyChainTradeAgreementType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIIHSupplyChainTradeAgreementType">
        <!--UN01005878-->
        <xsd:sequence>
            <xsd:element name="BuyerReference" type="udt:TextType" minOccurs="0">
                <!--UN01008552 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="SellerCITradeParty" type="ram:CITradePartyType" minOccurs="1">
                <!--UN01005879-->
            </xsd:element>
            <xsd:element name="BuyerCITradeParty" type="ram:CITradePartyType" minOccurs="1">
                <!--UN01005880-->
            </xsd:element>
            <xsd:element name="SellerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01005886 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="BuyerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!-->UN01005887 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="ContractReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01005890 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="SpecifiedProcuringProject" type="ram:ProcuringProjectType" minOccurs="0">
                <!--UN01011516-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradePartyType            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradePartyType">
        <!--UN01005756-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="0">
                <!--UN01005757 SAMBUICHI change min to 0-->
            </xsd:element>
            <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0">
                <!--UN01005758-->
            </xsd:element>
            <xsd:element name="Name" type="udt:TextType" minOccurs="1">
                <!--UN01005759-->
            </xsd:element>
            <xsd:element name="RegisteredID" type="udt:IDType" minOccurs="0">
                <!--UN01013039 SAMBUICHI change min to 0-->
            </xsd:element>
            <xsd:element name="TypeCode" type="udt:CodeType" minOccurs="0">
                <!-- UN01012925 SAMBUICHI ADD 2023-02-19 -->
            </xsd:element>
            <xsd:element name="SpecifiedCITaxRegistration" type="ram:CITaxRegistrationType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005764 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="EndPointURICIUniversalCommunication" type="ram:CIUniversalCommunicationType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005763 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="DefinedCITradeContact" type="ram:CITradeContactType" minOccurs="0">
                <!--UN01005761-->
            </xsd:element>
            <xsd:element name="PostalCITradeAddress" type="ram:CITradeAddressType" minOccurs="0">
                <!--UN01005762-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITaxRegistrationType       SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITaxRegistrationType">
        <!--UN01005667 SAMBUICHI-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="0">
                <!--UN01005668 SAMBUICHI-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradeContactType                    ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradeContactType">
        <!--UN01005718-->
        <xsd:sequence>
            <xsd:element name="PersonName" type="udt:TextType" minOccurs="0">
                <!--UN01005720-->
            </xsd:element>
            <xsd:element name="DepartmentName" type="udt:TextType" minOccurs="0">
                <!--UN01005721-->
            </xsd:element>
            <xsd:element name="PersonID" type="udt:IDType" minOccurs="0">
                <!--UN01005725-->
            </xsd:element>
            <xsd:element name="TelephoneCIUniversalCommunication" type="ram:CIUniversalCommunicationType" minOccurs="0">
                <!--UN01005726-->
            </xsd:element>
            <xsd:element name="EmailURICIUniversalCommunication" type="ram:CIUniversalCommunicationType" minOccurs="0">
                <!--UN01005730-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIUniversalCommunicationType          ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIUniversalCommunicationType">
        <!--UN01005857-->
        <xsd:sequence>
            <xsd:element name="URIID" type="udt:IDType" minOccurs="0">
                <!--UN01005858-->
            </xsd:element>
            <xsd:element name="CompleteNumber" type="udt:TextType" minOccurs="0">
                <!--UN01005860-->
            </xsd:element>
            <xsd:element name="ChannelCode" type="qdt:CommunicationChannelCodeType" minOccurs="0">
                <!--UN01005859-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradeAddressType                    ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradeAddressType">
        <!--UN01005687-->
        <xsd:sequence>
            <xsd:element name="PostcodeCode" type="udt:CodeType" minOccurs="0">
                <!--UN01005689-->
            </xsd:element>
            <xsd:element name="LineOne" type="udt:TextType" minOccurs="0">
                <!--UN01005692-->
            </xsd:element>
            <xsd:element name="LineTwo" type="udt:TextType" minOccurs="0">
                <!--UN01005693-->
            </xsd:element>
            <xsd:element name="LineThree" type="udt:TextType" minOccurs="0">
                <!--UN01005694-->
            </xsd:element>
            <xsd:element name="CountryID" type="udt:IDType" minOccurs="1">
                <!--UN01005700-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: ProcuringProjectType                  ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="ProcuringProjectType">
        <!--UN01000371-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="0">
                <!--UN01000372-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIIHSupplyChainTradeDeliveryType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIIHSupplyChainTradeDeliveryType">
        <!--UN01005896 SAMBUICHI-->
        <xsd:sequence>
            <xsd:element name="ShipToCITradeParty" type="ram:CITradePartyType" minOccurs="0">
                <!--UN01005898 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="ActualDeliveryCISupplyChainEvent" type="ram:CISupplyChainEventType" minOccurs="0">
                <!--UN01005903 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="DespatchAdviceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01005905 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="ReceivingAdviceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01005906 SAMBUICHI-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIIHSupplyChainTradeSettlementType
	                                                        SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIIHSupplyChainTradeSettlementType">
        <!--UN01005909-->
        <xsd:sequence>
            <xsd:element name="CreditorReferenceID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005911 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="PaymentReference" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005912 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="InvoiceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005932 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="TaxCurrencyCode" type="udt:CodeType" minOccurs="0">
                <!--UN01005913 SAMBUICHI change min to 0-->
            </xsd:element>
            <xsd:element name="InvoiceCurrencyCode" type="udt:CodeType" minOccurs="1">
                <!--UN01005914-->
            </xsd:element>
            <xsd:element name="InvoicerCITradeParty" type="ram:CITradePartyType" minOccurs="0">
                <!--UN01005916-->
            </xsd:element>
            <xsd:element name="SpecifiedCITradeSettlementPaymentMeans" type="ram:CITradeSettlementPaymentMeansType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005923-->
            </xsd:element>
            <xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005924-->
            </xsd:element>
            <xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType" minOccurs="0">
                <!--UN01005925-->
            </xsd:element>
            <xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005926-->
            </xsd:element>
            <xsd:element name="SpecifiedCITradePaymentTerms" type="ram:CITradePaymentTermsType" minOccurs="0">
                <!--UN01005929-->
            </xsd:element>
            <xsd:element name="SpecifiedCIIHTradeSettlementMonetarySummation" type="ram:CIIHTradeSettlementMonetarySummationType" minOccurs="0">
                <!--UN01005930-->
            </xsd:element>
            <xsd:element name="SpecifiedCIFinancialAdjustment" type="ram:CIFinancialAdjustmentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005931 SAMBUICHI-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradeSettlementPaymentMeansType     ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradeSettlementPaymentMeansType">
        <!--UN01005670-->
        <xsd:sequence>
            <xsd:element name="TypeCode" type="udt:CodeType" minOccurs="0">
                <!--UN01005672-->
            </xsd:element>
            <xsd:element name="Information" type="udt:TextType" minOccurs="0">
                <!--UN01011456-->
            </xsd:element>
            <xsd:element name="PayeePartyCICreditorFinancialAccount" type="ram:CICreditorFinancialAccountType" minOccurs="0">
                <!--UN01005677-->
            </xsd:element>
            <xsd:element name="PayeeSpecifiedCICreditorFinancialInstitution" type="ram:CICreditorFinancialInstitutionType" minOccurs="0">
                <!--UN01005679-->
            </xsd:element>
            <xsd:element name="ApplicableTradeSettlementFinancialCard" type="ram:TradeSettlementFinancialCardType" minOccurs="0">
                <!--UN01006057-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CICreditorFinancialAccountType        ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CICreditorFinancialAccountType">
        <!--UN01005398-->
        <xsd:sequence>
            <xsd:element name="AccountName" type="udt:TextType" minOccurs="0">
                <!--UN01005400-->
            </xsd:element>
            <xsd:element name="ProprietaryID" type="udt:IDType" minOccurs="0">
                <!--UN01005401-->
            </xsd:element>
            <xsd:element name="TypeCode" type="udt:CodeType" minOccurs="0">
                <!--UN01012127-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CICreditorFinancialInstitutionType    ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CICreditorFinancialInstitutionType">
        <!--UN01005402-->
        <xsd:sequence>
            <xsd:element name="JapanFinancialInstitutionCommonID" type="udt:IDType" minOccurs="0">
                <!--UN01011521-->
            </xsd:element>
            <xsd:element name="SubDivisionBranchFinancialInstitution" type="ram:BranchFinancialInstitutionType" minOccurs="0">
                <!--UN01005428-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: BranchFinancialInstitutionType        ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="BranchFinancialInstitutionType">
        <!--UN01003138-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="0">
                <!--UN01003139-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: TradeSettlementFinancialCardType      ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="TradeSettlementFinancialCardType">
        <!--UN01004493-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="1">
                <!--UN01004495-->
            </xsd:element>
            <xsd:element name="CardholderName" type="udt:TextType" minOccurs="1">
                <!--UN01004497-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradeAllowanceChargeType            ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradeAllowanceChargeType">
        <!--UN01005706-->
        <xsd:sequence>
            <xsd:element name="ChargeIndicator" type="udt:IndicatorType" minOccurs="1">
                <!--UN01005707-->
            </xsd:element>
            <xsd:element name="ActualAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01005713-->
            </xsd:element>
            <xsd:element name="ReasonCode" type="udt:CodeType" minOccurs="0">
                <!--UN01005714-->
            </xsd:element>
            <xsd:element name="Reason" type="udt:TextType" minOccurs="0">
                <!--UN01005715-->
            </xsd:element>
            <xsd:element name="CategoryCITradeTax" type="ram:CITradeTaxType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005716-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradeTaxType              SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradeTaxType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <ccts:UniqueID>UN01005832</ccts:UniqueID>
                <ccts:Acronym>ABIE</ccts:Acronym>
                <ccts:DictionaryEntryName>CI_ Trade_ Tax. Details</ccts:DictionaryEntryName>
                <ccts:Version>1.0</ccts:Version>
                <ccts:Definition>A Cross Industry (CI) trade related fiscal tax, duty or levy.</ccts:Definition>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="CalculatedAmount" type="udt:AmountType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005833</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Calculated. Amount</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>A monetary value resulting from the calculation of this CI trade related tax, levy or duty.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TypeCode" type="qdt:TaxTypeCodeType" minOccurs="0">
                <!-- SAMBUICHI added to specify VAT or other code defined in UNECE 5153 code list. e.g. SWT see https://www.sambuichi.jp/?p=9585 -->
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005834</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Type. Code</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>The code specifying the type of CI trade related tax, levy or duty, such as a code for a Value Added Tax (VAT).</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!--<xsd:element name="ExemptionReason" type="udt:TextType" minOccurs="0">
				-->            <!--UN01005835-->            <!--
			</xsd:element>-->
            <!--<xsd:element name="CalculatedRate" type="udt:RateType" minOccurs="0">-->
            <!--UN01005836-->
            <!--</xsd:element>-->
            <!--<xsd:element name="CalculationSequenceNumeric" type="udt:NumericType" minOccurs="0">
				-->            <!--UN01005837-->            <!--
			</xsd:element>-->
            <!--<xsd:element name="BasisQuantity" type="udt:QuantityType" minOccurs="0">
				-->            <!--UN01005838-->            <!--
			</xsd:element>-->
            <xsd:element name="BasisAmount" type="udt:AmountType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005839</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Basis. Amount</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>A monetary value used as the basis on which this CI trade related tax, levy or duty is calculated.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
                <!--UN01005839-->
            </xsd:element>
            <!--<xsd:element name="UnitBasisAmount" type="udt:AmountType" minOccurs="0" maxOccurs="unbounded">
				-->            <!--UN01005840-->            <!--
			</xsd:element>-->
            <xsd:element name="CategoryCode" type="qdt:TaxCategoryCodeType" minOccurs="1">
                <!--UN01005841-->
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005841</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Category. Code</ccts:DictionaryEntryName>
                        <ccts:Version>1.1</ccts:Version>
                        <ccts:Definition>The code specifying the category to which this CI trade related tax, levy or duty applies, such as codes for "Exempt from Tax", "Standard Rate", "Free Export Item - Tax Not Charged" .</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CurrencyCode" type="qdt:CurrencyCodeType" minOccurs="0">
                <!--UN01005842-->
            </xsd:element>
            <!--<xsd:element name="Jurisdiction" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				-->            <!--UN01005843-->            <!--
			</xsd:element>-->
            <!--<xsd:element name="CustomsDutyIndicator" type="udt:IndicatorType" minOccurs="0">
				-->            <!--UN01005844-->            <!--
			</xsd:element>
			<xsd:element name="ExemptionReasonCode" type="udt:CodeType" minOccurs="0">
				-->            <!--UN01005845-->            <!--
			</xsd:element>
			<xsd:element name="TaxBasisAllowanceRate" type="udt:RateType" minOccurs="0">
				-->            <!--UN01005846-->            <!--
			</xsd:element>-->
            <xsd:element name="TaxPointDate" type="udt:DateType" minOccurs="0">
                <!--SAMBUICHI added to bind IBT-007 TAX point date-->
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005847</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Tax Point. Date</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>The date of the tax point when this CI trade related tax, levy or duty becomes applicable.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!--	<xsd:element name="Type" type="udt:TextType" minOccurs="0">
				-->            <!--UN01005848-->            <!--
			</xsd:element>
			<xsd:element name="InformationAmount" type="udt:AmountType" minOccurs="0" maxOccurs="unbounded">
				-->            <!--UN01005849-->            <!--
			</xsd:element>-->
            <xsd:element name="CategoryName" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005850-->
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005850</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Category Name. Text</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>A category name, expressed as text, of this CI trade related tax, levy or duty.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DueDateTypeCode" type="qdt:TimeReferenceCodeType" minOccurs="0">
                <!--SAMBUICHI added to bind JP PINT IBT-008 TAX point date code-->
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01006052</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Due Date Type. Code</ccts:DictionaryEntryName>
                        <ccts:Version>1.1</ccts:Version>
                        <ccts:Definition>The code specifying a type of due date for this CI trade tax.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RateApplicablePercent" type="udt:PercentType" minOccurs="0">
                <!--UN01007174-->
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01007174</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Rate_ Applicable. Percent</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>The applicable rate of CI trade tax, expressed as a percentage.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="GrandTotalAmount" type="udt:AmountType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01013040</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Grand Total. Amount</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>The monetary value of the grand total of the basis plus tax for this CI trade tax.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CalculationMethodCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
                <!--UN01013096-->
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01013096</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Calculation Method. Code</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>The code specifying the method by which this CI trade related tax, levy or duty is calculated, such as codes for "tax calculated after line total summation", "tax calculated before line total summation", "tax back calculated based on grand total".</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LocalTaxSystemID" type="udt:IDType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01014650</ccts:UniqueID>
                        <ccts:Acronym>BBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CI_ Trade_ Tax. Local Tax System. Identifier</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>The identifier of the local tax system for this CI trade tax.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <!--	<xsd:element name="SpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0" maxOccurs="unbounded">
				-->            <!--UN01005851-->            <!--
			</xsd:element>
			<xsd:element name="BuyerDeductibleTaxSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0">
				-->            <!--UN01005852-->            <!--
			</xsd:element>
			<xsd:element name="BuyerNonDeductibleTaxSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0">
				-->            <!--UN01005853-->            <!--
			</xsd:element>
			<xsd:element name="BuyerRepayableTaxSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0">
				-->            <!--UN01005854-->            <!--
			</xsd:element>
			<xsd:element name="SellerPayableTaxSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0">
				-->            <!--UN01005855-->            <!--
			</xsd:element>
			<xsd:element name="SellerRefundableTaxSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0">
				-->            <!--UN01005856-->            <!--
			</xsd:element>
			<xsd:element name="ServiceSupplyCITradeCountry" type="ram:CITradeCountryType" minOccurs="0">
				-->            <!--UN01006064-->            <!--
			</xsd:element>
			<xsd:element name="PlaceApplicableCITradeLocation" type="ram:CITradeLocationType" minOccurs="0" maxOccurs="unbounded">
				-->            <!--UN01007175-->            <!--
			</xsd:element>-->
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CISpecifiedPeriodType                 ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CISpecifiedPeriodType">
        <!--UN01005608-->
        <xsd:sequence>
            <xsd:element name="StartDateTime" type="udt:DateTimeType" minOccurs="1">
                <!--UN01005612-->
            </xsd:element>
            <xsd:element name="EndDateTime" type="udt:DateTimeType" minOccurs="1">
                <!--UN01005613-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradePaymentTermsType               ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradePaymentTermsType">
        <!--UN01005779-->
        <xsd:sequence>
            <xsd:element name="Description" type="udt:TextType" minOccurs="0">
                <!--UN01005783-->
            </xsd:element>
            <xsd:element name="DueDateDateTime" type="udt:DateTimeType" minOccurs="0">
                <!--UN01005784-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIIHTradeSettlementMonetarySummationType
                                                                      ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIIHTradeSettlementMonetarySummationType">
        <!--UN01005941-->
        <xsd:sequence>
            <xsd:element name="ChargeTotalAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01005943-->
            </xsd:element>
            <xsd:element name="AllowanceTotalAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01005944-->
            </xsd:element>
            <xsd:element name="TaxBasisTotalAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01005945-->
            </xsd:element>
            <xsd:element name="TaxTotalAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01005946-->
            </xsd:element>
            <xsd:element name="GrandTotalAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01005948-->
            </xsd:element>
            <xsd:element name="TotalPrepaidAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01005950-->
            </xsd:element>
            <xsd:element name="DuePayableAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01008445-->
            </xsd:element>
            <xsd:element name="NetLineTotalAmount" type="udt:AmountType" minOccurs="0">
                <!--UN01008451-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILSupplyChainTradeLineItemType      ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILSupplyChainTradeLineItemType">
        <!--UN01005988-->
        <xsd:sequence>
            <xsd:element name="AssociatedCIILDocumentLineDocument" type="ram:CIILDocumentLineDocumentType" minOccurs="0">
                <!--UN01005989-->
            </xsd:element>
            <xsd:element name="SpecifiedCIILSupplyChainTradeAgreement" type="ram:CIILSupplyChainTradeAgreementType" minOccurs="0">
                <!--UN01005990-->
            </xsd:element>
            <xsd:element name="SpecifiedCIILSupplyChainTradeDelivery" type="ram:CIILSupplyChainTradeDeliveryType" minOccurs="0">
                <!--UN01005991-->
            </xsd:element>
            <xsd:element name="SpecifiedCIILSupplyChainTradeSettlement" type="ram:CIILSupplyChainTradeSettlementType" minOccurs="0">
                <!--UN01005992 SAMBUICHI change min to 0-->
            </xsd:element>
            <xsd:element name="SubordinateCIILBSubordinateTradeLineItem" type="ram:CIILBSubordinateTradeLineItemType" minOccurs="1" maxOccurs="unbounded">
                <!--UN01009669 SAMBUICHI change min to 0-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILDocumentLineDocumentType          ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILDocumentLineDocumentType">
        <!--UN01005953-->
        <xsd:sequence>
            <xsd:element name="LineID" type="udt:IDType" minOccurs="1">
                <!--UN01005954-->
            </xsd:element>
            <xsd:element name="CategoryCode" type="udt:CodeType" minOccurs="0">
                <!--UN01014645-->
            </xsd:element>
            <xsd:element name="IncludedCINote" type="ram:CINoteType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005957-->
            </xsd:element>
            <xsd:element name="ReferenceCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01014895-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILSupplyChainTradeAgreementType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILSupplyChainTradeAgreementType">
        <!--UN01005958-->
        <xsd:sequence>
            <xsd:element name="SellerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01005960-->
            </xsd:element>
            <xsd:element name="BuyerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01005961-->
            </xsd:element>
            <xsd:element name="ContractReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01005963-->
            </xsd:element>
            <xsd:element name="GrossPriceProductCITradePrice" type="ram:CITradePriceType" minOccurs="0">
                <!--UN01005966 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="NetPriceProductCITradePrice" type="ram:CITradePriceType" minOccurs="0">
                <!--UN01005967 SAMBUICHI-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILSupplyChainTradeDeliveryType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILSupplyChainTradeDeliveryType">
        <!--UN01005968-->
        <xsd:sequence>
            <xsd:element name="BilledQuantity" type="udt:QuantityType" minOccurs="0">
                <!--UN01005969-->
            </xsd:element>
            <xsd:element name="ChargeFreeQuantity" type="udt:QuantityType" minOccurs="0">
                <!--UN01005970-->
            </xsd:element>
            <xsd:element name="PackageQuantity" type="udt:QuantityType" minOccurs="0">
                <!--UN01005971-->
            </xsd:element>
            <xsd:element name="ProductUnitQuantity" type="udt:QuantityType" minOccurs="0">
                <!--UN01005972-->
            </xsd:element>
            <xsd:element name="PerPackageUnitQuantity" type="udt:QuantityType" minOccurs="0">
                <!--UN01005973-->
            </xsd:element>
            <xsd:element name="NetWeightMeasure" type="udt:MeasureType" minOccurs="0">
                <!--UN01005974-->
            </xsd:element>
            <xsd:element name="GrossWeightMeasure" type="udt:MeasureType" minOccurs="0">
                <!--UN01005975-->
            </xsd:element>
            <xsd:element name="TheoreticalWeightMeasure" type="udt:MeasureType" minOccurs="0">
                <!--UN01005976-->
            </xsd:element>
            <xsd:element name="RequestedQuantity" type="udt:QuantityType" minOccurs="0" maxOccurs="1">
                <!--UN01011517-->
            </xsd:element>
            <xsd:element name="ReceivedQuantity" type="udt:QuantityType" minOccurs="0" maxOccurs="1">
                <!--UN01011518-->
            </xsd:element>
            <!--		  <xsd:element name="SpecifiedCIDeliveryAdjustment" type="ram:CIDeliveryAdjustmentType" minOccurs="0" maxOccurs="unbounded">
			-->            <!--UN01005977-->            <!--
		  </xsd:element>
		  <xsd:element name="IncludedCISupplyChainPackaging" type="ram:CISupplyChainPackagingType" minOccurs="0" maxOccurs="unbounded">
			-->            <!--UN01005978-->            <!--
		  </xsd:element>
		  <xsd:element name="RelatedCISupplyChainConsignment" type="ram:CISupplyChainConsignmentType" minOccurs="0">
			-->            <!--UN01005979-->            <!--
		  </xsd:element>-->
            <xsd:element name="ShipToCITradeParty" type="ram:CITradePartyType" minOccurs="0">
                <!--UN01005980-->
            </xsd:element>
            <xsd:element name="UltimateShipToCITradeParty" type="ram:CITradePartyType" minOccurs="0">
                <!--UN01005981-->
            </xsd:element>
            <xsd:element name="ShipFromCITradeParty" type="ram:CITradePartyType" minOccurs="0">
                <!--UN01005982-->
            </xsd:element>
            <xsd:element name="ActualDespatchCISupplyChainEvent" type="ram:CISupplyChainEventType" minOccurs="0">
                <!--UN01005983-->
            </xsd:element>
            <xsd:element name="ActualPickUpCISupplyChainEvent" type="ram:CISupplyChainEventType" minOccurs="0">
                <!--UN01005984-->
            </xsd:element>
            <xsd:element name="RequestedDeliveryCISupplyChainEvent" type="ram:CISupplyChainEventType" minOccurs="0">
                <!--UN01005985-->
            </xsd:element>
            <xsd:element name="ActualDeliveryCISupplyChainEvent" type="ram:CISupplyChainEventType" minOccurs="0">
                <!--UN01005986-->
            </xsd:element>
            <xsd:element name="ActualReceiptCISupplyChainEvent" type="ram:CISupplyChainEventType" minOccurs="0">
                <!--UN01005987-->
            </xsd:element>
            <xsd:element name="DespatchAdviceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01006039-->
            </xsd:element>
            <xsd:element name="ReceivingAdviceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01006040-->
            </xsd:element>
            <xsd:element name="DeliveryNoteReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01006041-->
            </xsd:element>
            <xsd:element name="AdditionalReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006042-->
            </xsd:element>
            <xsd:element name="ConsumptionReportReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01008616-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CISupplyChainEventType                ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CISupplyChainEventType">
        <!--UN01005626-->
        <xsd:sequence>
            <xsd:element name="OccurrenceDateTime" type="udt:DateTimeType" minOccurs="0">
                <!--UN01005628-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILSupplyChainTradeSettlementType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILSupplyChainTradeSettlementType">
        <!--UN01005994-->
        <xsd:sequence>
            <xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005996-->
            </xsd:element>
            <xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType" minOccurs="0">
                <!--UN01005997-->
            </xsd:element>
            <xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType" minOccurs="0" maxOccurs="unbounded">
                <!--UN0100599-->
            </xsd:element>
            <xsd:element name="SpecifiedCIILTradeSettlementMonetarySummation" type="ram:CIILTradeSettlementMonetarySummationType" minOccurs="0">
                <!--UN01006002-->
            </xsd:element>
            <xsd:element name="SpecifiedCIFinancialAdjustment" type="ram:CIFinancialAdjustmentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006003-->
            </xsd:element>
            <xsd:element name="InvoiceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006004 SAMBUICHI changed to maxOccurs="unbounded"-->
            </xsd:element>
            <xsd:element name="AdditionalReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006005-->
            </xsd:element>
            <xsd:element name="PurchaseSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006080-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!--<xsd:complexType name="CIILSupplyChainTradeSettlementType">
        -->    <!--UN01005994-->    <!--
        <xsd:sequence>-->
    <!--<xsd:element name="PaymentReference" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01005995-->    <!--
            </xsd:element>
            <xsd:element name="InvoiceIssuerReference" type="udt:TextType" minOccurs="0">
                -->    <!--UN01008774-->    <!--
            </xsd:element>
            <xsd:element name="InvoiceDateTime" type="udt:DateTimeType" minOccurs="0" maxOccurs="1">
                -->    <!--UN01013029-->    <!--
            </xsd:element>
            <xsd:element name="DirectionCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
                -->    <!--UN01014647-->    <!--
            </xsd:element>-->
    <!--<xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01005996-->    <!--
            </xsd:element>
            <xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType" minOccurs="0">
                -->    <!--UN01005997-->    <!--
            </xsd:element>
            <xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01005998-->    <!--
            </xsd:element>-->
    <!--<xsd:element name="SubtotalCalculatedCITradeTax" type="ram:CITradeTaxType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01005999-->    <!--
            </xsd:element>-->
    <!--<xsd:element name="SpecifiedCILogisticsServiceCharge" type="ram:CILogisticsServiceChargeType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01006000-->    <!--
            </xsd:element>-->
    <!--<xsd:element name="SpecifiedCITradePaymentTerms" type="ram:CITradePaymentTermsType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01006001-->    <!--
            </xsd:element>-->
    <!--<xsd:element name="SpecifiedCIILTradeSettlementMonetarySummation" type="ram:CIILTradeSettlementMonetarySummationType" minOccurs="0">
                -->    <!--UN01006002-->    <!--
            </xsd:element>
            <xsd:element name="SpecifiedCIFinancialAdjustment" type="ram:CIFinancialAdjustmentType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01006003-->    <!--
            </xsd:element>
            <xsd:element name="InvoiceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                -->    <!--UN01006004-->    <!--
            </xsd:element>
            <xsd:element name="AdditionalReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01006005-->    <!--
            </xsd:element>-->
    <!--<xsd:element name="SpecifiedTradeSettlementFinancialCard" type="ram:TradeSettlementFinancialCardType" minOccurs="0">
                -->    <!--UN01006073-->    <!--
            </xsd:element>
            <xsd:element name="PayableSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01006078-->    <!--
            </xsd:element>
            <xsd:element name="ReceivableSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01006079-->    <!--
            </xsd:element>-->
    <!--<xsd:element name="PurchaseSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01006080-->    <!--
            </xsd:element>-->
    <!--<xsd:element name="SalesSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01006081-->    <!--
            </xsd:element>-->
    <!--</xsd:sequence>
    </xsd:complexType> -->

    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILTradeSettlementMonetarySummationType
                                                 2023-02-19 SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILTradeSettlementMonetarySummationType">
        <!--UN01006006 SAMBUICHI-->
        <xsd:sequence>
            <xsd:element name="ChargeTotalAmount" type="udt:AmountType" minOccurs="0">
                <!-- UN01006008 -->
            </xsd:element>
            <xsd:element name="AllowanceTotalAmount" type="udt:AmountType" minOccurs="0">
                <!-- UN01006009 -->
            </xsd:element>
            <xsd:element name="TaxTotalAmount" type="udt:AmountType" minOccurs="0" maxOccurs="2">
                <!-- UN01006011 -->
            </xsd:element>
            <xsd:element name="GrossLineTotalAmount" type="udt:AmountType" minOccurs="0">
                <!-- UN01008455 -->
            </xsd:element>
            <xsd:element name="NetLineTotalAmount" type="udt:AmountType" minOccurs="0">
                <!-- UN01008456 -->
            </xsd:element>
            <xsd:element name="NetIncludingTaxesLineTotalAmount" type="udt:AmountType" minOccurs="0">
                <!-- UN01008457 -->
            </xsd:element>
            <xsd:element name="GrandTotalAmount" type="udt:AmountType" minOccurs="0">
                <!-- UN01011519 -->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILBSubordinateTradeLineItemType     ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILBSubordinateTradeLineItemType">
        <!--UN01009669-->
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="1">
                <!--UN01009648-->
            </xsd:element>
            <xsd:element name="CategoryCode" type="udt:CodeType" minOccurs="0">
                <!--UN01014637-->
            </xsd:element>
            <xsd:element name="IncludedCINote" type="ram:CINoteType" minOccurs="0" maxOccurs="unbounded">
                <!--JPS2300004-->
            </xsd:element>
            <xsd:element name="SpecifiedCIILBSupplyChainTradeAgreement" type="ram:CIILBSupplyChainTradeAgreementType" minOccurs="1">
                <!--UN01009649-->
            </xsd:element>
            <xsd:element name="SpecifiedCIILBSupplyChainTradeDelivery" type="ram:CIILBSupplyChainTradeDeliveryType" minOccurs="1">
                <!--UN01009650-->
            </xsd:element>
            <xsd:element name="SpecifiedCIILBSupplyChainTradeSettlement" type="ram:CIILBSupplyChainTradeSettlementType" minOccurs="1">
                <!--UN01009651-->
            </xsd:element>
            <xsd:element name="ApplicableCITradeProduct" type="ram:CITradeProductType" minOccurs="1">
                <!--UN01010016-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!--    <xsd:complexType name="CIILBSubordinateTradeLineItemType">
        -->    <!--UN01009647-->    <!--
        <xsd:sequence>
            <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01009648-->    <!--
            </xsd:element>
            <xsd:element name="CategoryCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
                -->    <!--UN01014637-->    <!--
            </xsd:element>
            <xsd:element name="IncludedCINote" type="ram:CINoteType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--JPS2300004-->    <!--
            </xsd:element>
            -->    <!--<xsd:element name="ResponseReasonCode" type="udt:CodeType" minOccurs="0" maxOccurs="1">
                -->    <!--UN01014638-->    <!--
            </xsd:element>-->    <!--
            -->    <!--<xsd:element name="SpecifiedReferencedProduct" type="ram:ReferencedProductType" minOccurs="0">
                -->    <!--UN01009652-->    <!--
            </xsd:element>-->    <!--
            <xsd:element name="SpecifiedCIILBSupplyChainTradeAgreement" type="ram:CIILBSupplyChainTradeAgreementType" minOccurs="0">
                -->    <!--UN01009649-->    <!--
            </xsd:element>
            <xsd:element name="SpecifiedCIILBSupplyChainTradeDelivery" type="ram:CIILBSupplyChainTradeDeliveryType" minOccurs="0">
                -->    <!--UN01009650-->    <!--
            </xsd:element>
            <xsd:element name="SpecifiedCIILBSupplyChainTradeSettlement" type="ram:CIILBSupplyChainTradeSettlementType" minOccurs="0">
                -->    <!--UN01009651-->    <!--
            </xsd:element>
            <xsd:element name="ApplicableCITradeProduct" type="ram:CITradeProductType" minOccurs="0" maxOccurs="unbounded">
                -->    <!--UN01010016-->    <!--
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>-->

    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILBSupplyChainTradeAgreementType    
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILBSupplyChainTradeAgreementType">
        <!--UN01009653-->
        <xsd:sequence>
            <xsd:element name="SellerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01009654 SAMBUICHI changed to maxOccurs="unbounded"-->
            </xsd:element>
            <xsd:element name="BuyerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01009655 SAMBUICHI changed to maxOccurs="unbounded"-->
            </xsd:element>
            <xsd:element name="AdditionalReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01009656-->
            </xsd:element>
            <xsd:element name="GrossPriceProductCITradePrice" type="ram:CITradePriceType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01009657-->
            </xsd:element>
            <xsd:element name="NetPriceProductCITradePrice" type="ram:CITradePriceType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01009658-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradePriceType                      ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradePriceType">
        <!--UN01005790-->
        <xsd:sequence>
            <xsd:element name="ChargeAmount" type="udt:AmountType" minOccurs="1">
                <!--UN01005792-->
            </xsd:element>
            <xsd:element name="BasisQuantity" type="udt:QuantityType" minOccurs="0">
                <!--UN01005793-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILBSupplyChainTradeDeliveryType     ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILBSupplyChainTradeDeliveryType">
        <!--UN01009659-->
        <xsd:sequence>
            <xsd:element name="BilledQuantity" type="udt:QuantityType" minOccurs="1">
                <!--UN01014639-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIILBSupplyChainTradeSettlementType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIILBSupplyChainTradeSettlementType">
        <!--UN01009664-->
        <xsd:sequence>
            <xsd:element name="DirectionCode" type="udt:CodeType" minOccurs="0">
                <!--UN01014641-->
            </xsd:element>
            <xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType" minOccurs="1">
                <!--UN01009665-->
            </xsd:element>
            <xsd:element name="InvoiceReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01014642</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CIILB_ Supply Chain_ Trade Settlement. Invoice_ Referenced. CI_ Referenced_ Document</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>The invoice document referenced for this CIILB supply chain trade settlement.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SpecifiedCIFinancialAdjustment" type="ram:CIFinancialAdjustmentType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01014643</ccts:UniqueID>
                        <ccts:Acronym>ASBIE</ccts:Acronym>
                        <ccts:DictionaryEntryName>CIILB_ Supply Chain_ Trade Settlement. Specified. CI_ Financial_ Adjustment</ccts:DictionaryEntryName>
                        <ccts:Version>1.0</ccts:Version>
                        <ccts:Definition>A financial adjustment specified for this CIILB supply chain trade settlement.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01014644-->
            </xsd:element>
            <xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType" minOccurs="0">
                <!--UN01014894 SAMBUICHI change min to 0-->
            </xsd:element>
            <!--ram:PurchaseSpecifiedCITradeAccountingAccount 31p0CIILBSupplyChainTradeSettlementType
				 CIILSupplyChainTradeSettlementType UN01005994 -->
            <xsd:element name="PurchaseSpecifiedCITradeAccountingAccount" type="ram:CITradeAccountingAccountType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01006080-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradeAccountingAccountType SAMBUICHI===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradeAccountingAccountType">
        <!--UN01005680-->
        <xsd:sequence>
            <xsd:element name="TypeCode" type="qdt:AccountingAccountTypeCodeType" minOccurs="0">
                <!--UN01005683-->
            </xsd:element>
            <xsd:element name="Name" type="udt:TextType" minOccurs="0">
                <!--UN01005685-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIFinancialAdjustmentType   SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIFinancialAdjustmentType">
        <!--UN01005487-->
        <xsd:sequence>
            <xsd:element name="ReasonCode" type="qdt:FinancialAdjustmentReasonCodeType" minOccurs="0">
                <!--UN01005488-->
            </xsd:element>
            <xsd:element name="Reason" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005489-->
            </xsd:element>
            <xsd:element name="ActualAmount" type="udt:AmountType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005490-->
            </xsd:element>
            <xsd:element name="InvoiceReferenceCIReferencedDocument" type="ram:CIReferencedDocumentType" minOccurs="0">
                <!--UN01009671-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradeProductType          SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradeProductType">
        <!--UN01005809-->
        <xsd:sequence>
            <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005811</ccts:UniqueID>
                        <ccts:DictionaryEntryName>CI_ Trade_ Product. Global_ Identification. Identifier</ccts:DictionaryEntryName>
                        <ccts:Definition>The unique global identifier for this CI trade product.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SellerAssignedID" type="udt:IDType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005812</ccts:UniqueID>
                        <ccts:DictionaryEntryName>CI_ Trade_ Product. Seller Assigned_ Identification. Identifier</ccts:DictionaryEntryName>
                        <ccts:Definition>The unique seller assigned identifier for this CI trade product.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BuyerAssignedID" type="udt:IDType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005813</ccts:UniqueID>
                        <ccts:DictionaryEntryName>CI_ Trade_ Product. Buyer Assigned_ Identification. Identifier</ccts:DictionaryEntryName>
                        <ccts:Definition>The unique buyer assigned identifier for this CI trade product.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Name" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005815</ccts:UniqueID>
                        <ccts:DictionaryEntryName>CI_ Trade_ Product. Name. Text</ccts:DictionaryEntryName>
                        <ccts:Definition>A name, expressed as text, for this CI trade product.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Description" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005817</ccts:UniqueID>
                        <ccts:DictionaryEntryName>CI_ Trade_ Product. Description. Text</ccts:DictionaryEntryName>
                        <ccts:Definition>A textual description for this CI trade product.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ApplicableCIProductCharacteristic" type="ram:CIProductCharacteristicType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005821</ccts:UniqueID>
                        <ccts:DictionaryEntryName>CI_ Trade_ Product. Applicable. CI_ Product_ Characteristic</ccts:DictionaryEntryName>
                        <ccts:Definition>A product characteristic applicable to this CI trade product.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DesignatedCIProductClassification" type="ram:CIProductClassificationType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005823</ccts:UniqueID>
                        <ccts:DictionaryEntryName>CI_ Trade_ Product. Designated. CI_ Product_ Classification</ccts:DictionaryEntryName>
                        <ccts:Definition>A product classification designated for this CI trade product.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OriginCITradeCountry" type="ram:CITradeCountryType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        <ccts:UniqueID>UN01005827</ccts:UniqueID>
                        <ccts:DictionaryEntryName>CI_ Trade_ Product. Origin. CI_ Trade_ Country</ccts:DictionaryEntryName>
                        <ccts:Definition>The country of origin for this Cross Industry (CI) trade product.</ccts:Definition>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CITradeCountryType          SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CITradeCountryType">
        <!--UN01005735-->
        <xsd:sequence>
            <xsd:element name="ID" type="qdt:CountryIDType" minOccurs="0">
                <!--UN01005736-->
            </xsd:element>
            <!--<xsd:element name="Name" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">-->
            <!--UN01005737-->
            <!--</xsd:element>-->
            <!--<xsd:element name="SubordinateCITradeCountrySubDivision" type="ram:CITradeCountrySubDivisionType" minOccurs="0" maxOccurs="unbounded">-->
            <!--UN01007156-->
            <!--</xsd:element>-->
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIProductCharacteristicType SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIProductCharacteristicType">
        <!--UN01005567 SAMBUICHI-->
        <xsd:sequence>
            <xsd:element name="Description" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01005570 SAMBUICHI-->
            </xsd:element>
            <xsd:element name="Value" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01011457 SAMBUICHI-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CICLSupplyChainTradeSettlementType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CICLSupplyChainTradeSettlementType">
        <xsd:sequence>
            <xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType" minOccurs="0" maxOccurs="unbounded">
                <!--UN01007469-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ================================================================== -->
    <!-- ===== Type Definition: CIProductClassificationType
                                                            SAMBUICHI ===== -->
    <!-- ================================================================== -->
    <xsd:complexType name="CIProductClassificationType">
        <!--UN01005573 SAMBUICHI-->
        <xsd:sequence>
            <xsd:element name="ClassCode" type="udt:CodeType" minOccurs="0">
                <!--UN01005576 SAMBUICHI-->
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <!-- ================================================================== -->
    <!-- ===== Unqualified Data Type Definitions 21p0                 ===== -->
    <!-- ================================================================== -->
</xsd:schema>
