old-version/data/sme/examples/SMEinvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== Custom Aggregate Business Information Entity Schema Module ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  
Schema version: 
Schema date:    
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:rsm="urn:un:unece:uncefact:data:standard:SMEinvoice" 
xmlns:ram="urn:un:unece:uncefact:data:standard:SMEinvoice" 
xmlns:udt="urn:un:unece:uncefact:data:standard:SMEinvoice" 
targetNamespace="urn:un:unece:uncefact:data:standard:SMEinvoice" 
elementFormDefault="qualified" 
attributeFormDefault="unqualified" 
version="20.0">
<!-- ================================================================== -->
<!-- ===== Element Declarations                                   ===== -->
<!-- ================================================================== -->
<!-- ===== Root Element Declarations                              ===== -->
<!-- ================================================================== -->
<!-- Global型宣言 -->
  <xsd:element name="SMEinvoice" type="rsm:SMEinvoiceType" />
  <xsd:complexType name="SMEinvoiceType">
    <xsd:sequence>
      <xsd:element name="CIExchangedDocumentContext" type="ram:CIExchangedDocumentContextType"  minOccurs="1"  >
        <!--UN01005479-->
      </xsd:element>
      <xsd:element name="CIIHExchangedDocument" type="ram:CIIHExchangedDocumentType"  minOccurs="1"  >
        <!--UN01005861-->
      </xsd:element>
      <xsd:element name="CIIHSupplyChainTradeTransaction" type="ram:CIIHSupplyChainTradeTransactionType"  minOccurs="1"  >
        <!--UN01005936-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Root Element Declarations                              ===== -->
<!-- ================================================================== -->
<!-- XJCでルート要素のXmlRootElementを生成する場合は、上記のRoot Elementセクション(Global型宣言)を削除し、以下を有効にしてください。
  <xsd:element name="SMEinvoice" >
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CIExchangedDocumentContext" type="ram:CIExchangedDocumentContextType"  minOccurs="1"  >
        </xsd:element>
        <xsd:element name="CIIHExchangedDocument" type="ram:CIIHExchangedDocumentType"  minOccurs="1"  >
        </xsd:element>
        <xsd:element name="CIIHSupplyChainTradeTransaction" type="ram:CIIHSupplyChainTradeTransactionType"  minOccurs="1"  >
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
 -->
<!-- ================================================================== -->
<!-- ===== Type Definitions                                       ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: CIExchangedDocumentContextType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIExchangedDocumentContextType">
    <!--UN01005479-->
    <xsd:sequence>
      <xsd:element name="BusinessProcessSpecifiedCIDocumentContextParameter" type="ram:CIDocumentContextParameterType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005481-->
      </xsd:element>
      <xsd:element name="SubsetSpecifiedCIDocumentContextParameter" type="ram:CIDocumentContextParameterType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005486-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIIHExchangedDocumentType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIIHExchangedDocumentType">
    <!--UN01005861-->
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005862-->
      </xsd:element>
      <xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005864-->
      </xsd:element>
      <xsd:element name="IssueDateTime" type="udt:DateTimeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005865-->
      </xsd:element>
      <xsd:element name="IncludedCINote" type="ram:CINoteType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01005876-->
      </xsd:element>
      <xsd:element name="ReferenceCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01012702-->
      </xsd:element>
      <xsd:element name="AttachedSpecifiedBinaryFile" type="ram:SpecifiedBinaryFileType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--JPS2200015-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIIHSupplyChainTradeTransactionType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIIHSupplyChainTradeTransactionType">
    <!--UN01005936-->
    <xsd:sequence>
      <xsd:element name="ApplicableCIIHSupplyChainTradeAgreement" type="ram:CIIHSupplyChainTradeAgreementType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005937-->
      </xsd:element>
      <xsd:element name="ApplicableCIIHSupplyChainTradeSettlement" type="ram:CIIHSupplyChainTradeSettlementType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005939-->
      </xsd:element>
      <xsd:element name="IncludedCIILSupplyChainTradeLineItem" type="ram:CIILSupplyChainTradeLineItemType"  minOccurs="1" maxOccurs="unbounded"  >
        <!--UN01005940-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIDocumentContextParameterType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIDocumentContextParameterType">
    <!--UN01005471-->
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005472-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CINoteType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CINoteType">
    <!--UN01005557-->
    <xsd:sequence>
      <xsd:element name="Content" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005560-->
      </xsd:element>
      <xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005562-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIReferencedDocumentType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIReferencedDocumentType">
    <!--UN01005579-->
    <xsd:sequence>
      <xsd:element name="IssuerAssignedID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005580-->
      </xsd:element>
      <xsd:element name="IssueDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005582-->
      </xsd:element>
      <xsd:element name="LineID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005585-->
      </xsd:element>
      <xsd:element name="Information" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01006415-->
      </xsd:element>
      <xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01009672-->
      </xsd:element>
      <xsd:element name="AttachmentBinaryObject" type="udt:BinaryObjectType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01011455-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SpecifiedBinaryFileType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="SpecifiedBinaryFileType">
    <!--UN01006014-->
    <xsd:sequence>
      <xsd:element name="FileName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01006019-->
      </xsd:element>
      <xsd:element name="URIID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01006020-->
      </xsd:element>
      <xsd:element name="MIMECode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01006021-->
      </xsd:element>
      <xsd:element name="Description" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01006026-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIIHSupplyChainTradeAgreementType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIIHSupplyChainTradeAgreementType">
    <!--UN01005878-->
    <xsd:sequence>
      <xsd:element name="SellerCITradeParty" type="ram:CITradePartyType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005879-->
      </xsd:element>
      <xsd:element name="BuyerCITradeParty" type="ram:CITradePartyType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005880-->
      </xsd:element>
      <xsd:element name="SpecifiedProcuringProject" type="ram:ProcuringProjectType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01011516-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradePartyType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradePartyType">
    <!--UN01005756-->
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005757-->
      </xsd:element>
      <xsd:element name="GlobalID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005758-->
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005759-->
      </xsd:element>
      <xsd:element name="RegisteredID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01013039-->
      </xsd:element>
      <xsd:element name="DefinedCITradeContact" type="ram:CITradeContactType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005761-->
      </xsd:element>
      <xsd:element name="PostalCITradeAddress" type="ram:CITradeAddressType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005762-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradeContactType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradeContactType">
    <!--UN01005718-->
    <xsd:sequence>
      <xsd:element name="PersonName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005720-->
      </xsd:element>
      <xsd:element name="DepartmentName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005721-->
      </xsd:element>
      <xsd:element name="PersonID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005725-->
      </xsd:element>
      <xsd:element name="TelephoneCIUniversalCommunication" type="ram:CIUniversalCommunicationType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005726-->
      </xsd:element>
      <xsd:element name="EmailURICIUniversalCommunication" type="ram:CIUniversalCommunicationType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005730-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIUniversalCommunicationType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIUniversalCommunicationType">
    <!--UN01005857-->
    <xsd:sequence>
      <xsd:element name="URIID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005858-->
      </xsd:element>
      <xsd:element name="CompleteNumber" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005860-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradeAddressType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradeAddressType">
    <!--UN01005687-->
    <xsd:sequence>
      <xsd:element name="PostcodeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005689-->
      </xsd:element>
      <xsd:element name="LineOne" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005692-->
      </xsd:element>
      <xsd:element name="LineTwo" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005693-->
      </xsd:element>
      <xsd:element name="LineThree" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005694-->
      </xsd:element>
      <xsd:element name="CountryID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005700-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ProcuringProjectType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="ProcuringProjectType">
    <!--UN01000371-->
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01000372-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIIHSupplyChainTradeSettlementType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIIHSupplyChainTradeSettlementType">
    <!--UN01005909-->
    <xsd:sequence>
      <xsd:element name="TaxCurrencyCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005913-->
      </xsd:element>
      <xsd:element name="InvoiceCurrencyCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005914-->
      </xsd:element>
      <xsd:element name="InvoicerCITradeParty" type="ram:CITradePartyType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005916-->
      </xsd:element>
      <xsd:element name="SpecifiedCITradeSettlementPaymentMeans" type="ram:CITradeSettlementPaymentMeansType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01005923-->
      </xsd:element>
      <xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01005924-->
      </xsd:element>
      <xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005925-->
      </xsd:element>
      <xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01005926-->
      </xsd:element>
      <xsd:element name="SpecifiedCITradePaymentTerms" type="ram:CITradePaymentTermsType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005929-->
      </xsd:element>
      <xsd:element name="SpecifiedCIIHTradeSettlementMonetarySummation" type="ram:CIIHTradeSettlementMonetarySummationType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005930-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradeSettlementPaymentMeansType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradeSettlementPaymentMeansType">
    <!--UN01005670-->
    <xsd:sequence>
      <xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005672-->
      </xsd:element>
      <xsd:element name="Information" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01011456-->
      </xsd:element>
      <xsd:element name="PayeePartyCICreditorFinancialAccount" type="ram:CICreditorFinancialAccountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005677-->
      </xsd:element>
      <xsd:element name="PayeeSpecifiedCICreditorFinancialInstitution" type="ram:CICreditorFinancialInstitutionType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005679-->
      </xsd:element>
      <xsd:element name="ApplicableTradeSettlementFinancialCard" type="ram:TradeSettlementFinancialCardType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01006057-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CICreditorFinancialAccountType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CICreditorFinancialAccountType">
    <!--UN01005398-->
    <xsd:sequence>
      <xsd:element name="AccountName" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005400-->
      </xsd:element>
      <xsd:element name="ProprietaryID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005401-->
      </xsd:element>
      <xsd:element name="TypeCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01012127-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CICreditorFinancialInstitutionType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CICreditorFinancialInstitutionType">
    <!--UN01005402-->
    <xsd:sequence>
      <xsd:element name="JapanFinancialInstitutionCommonID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01011521-->
      </xsd:element>
      <xsd:element name="SubDivisionBranchFinancialInstitution" type="ram:BranchFinancialInstitutionType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005428-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BranchFinancialInstitutionType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="BranchFinancialInstitutionType">
    <!--UN01003138-->
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01003139-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: TradeSettlementFinancialCardType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="TradeSettlementFinancialCardType">
    <!--UN01004493-->
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01004495-->
      </xsd:element>
      <xsd:element name="CardholderName" type="udt:TextType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01004497-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradeAllowanceChargeType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradeAllowanceChargeType">
    <!--UN01005706-->
    <xsd:sequence>
      <xsd:element name="ChargeIndicator" type="udt:IndicatorType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005707-->
      </xsd:element>
      <xsd:element name="ActualAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005713-->
      </xsd:element>
      <xsd:element name="ReasonCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005714-->
      </xsd:element>
      <xsd:element name="Reason" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005715-->
      </xsd:element>
      <xsd:element name="CategoryCITradeTax" type="ram:CITradeTaxType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01005716-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradeTaxType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradeTaxType">
    <!--UN01005832-->
    <xsd:sequence>
      <xsd:element name="CalculatedAmount" type="udt:AmountType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005833-->
      </xsd:element>
      <xsd:element name="CalculatedRate" type="udt:RateType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005836-->
      </xsd:element>
      <xsd:element name="BasisAmount" type="udt:AmountType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005839-->
      </xsd:element>
      <xsd:element name="BasisAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005839-->
      </xsd:element>
      <xsd:element name="CategoryCode" type="udt:CodeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005841-->
      </xsd:element>
      <xsd:element name="CurrencyCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005842-->
      </xsd:element>
      <xsd:element name="RateApplicablePercent" type="udt:PercentType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01007174-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CISpecifiedPeriodType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CISpecifiedPeriodType">
    <!--UN01005608-->
    <xsd:sequence>
      <xsd:element name="StartDateTime" type="udt:DateTimeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005612-->
      </xsd:element>
      <xsd:element name="EndDateTime" type="udt:DateTimeType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005613-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradePaymentTermsType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradePaymentTermsType">
    <!--UN01005779-->
    <xsd:sequence>
      <xsd:element name="Description" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005783-->
      </xsd:element>
      <xsd:element name="DueDateDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005784-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIIHTradeSettlementMonetarySummationType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIIHTradeSettlementMonetarySummationType">
    <!--UN01005941-->
    <xsd:sequence>
      <xsd:element name="ChargeTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005943-->
      </xsd:element>
      <xsd:element name="AllowanceTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005944-->
      </xsd:element>
      <xsd:element name="TaxBasisTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005945-->
      </xsd:element>
      <xsd:element name="TaxTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005946-->
      </xsd:element>
      <xsd:element name="GrandTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005948-->
      </xsd:element>
      <xsd:element name="TotalPrepaidAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005950-->
      </xsd:element>
      <xsd:element name="DuePayableAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01008445-->
      </xsd:element>
      <xsd:element name="NetLineTotalAmount" type="udt:AmountType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01008451-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIILSupplyChainTradeLineItemType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIILSupplyChainTradeLineItemType">
    <!--UN01005988-->
    <xsd:sequence>
      <xsd:element name="AssociatedCIILDocumentLineDocument" type="ram:CIILDocumentLineDocumentType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005989-->
      </xsd:element>
      <xsd:element name="SpecifiedCIILSupplyChainTradeAgreement" type="ram:CIILSupplyChainTradeAgreementType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005990-->
      </xsd:element>
      <xsd:element name="SpecifiedCIILSupplyChainTradeDelivery" type="ram:CIILSupplyChainTradeDeliveryType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005991-->
      </xsd:element>
      <xsd:element name="SubordinateCIILBSubordinateTradeLineItem" type="ram:CIILBSubordinateTradeLineItemType"  minOccurs="1" maxOccurs="unbounded"  >
        <!--UN01009669-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIILDocumentLineDocumentType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIILDocumentLineDocumentType">
    <!--UN01005953-->
    <xsd:sequence>
      <xsd:element name="LineID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005954-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIILSupplyChainTradeAgreementType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIILSupplyChainTradeAgreementType">
    <!--UN01005958-->
    <xsd:sequence>
      <xsd:element name="SellerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005960-->
      </xsd:element>
      <xsd:element name="BuyerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005961-->
      </xsd:element>
      <xsd:element name="ContractReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005963-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIILSupplyChainTradeDeliveryType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIILSupplyChainTradeDeliveryType">
    <!--UN01005968-->
    <xsd:sequence>
      <xsd:element name="ShipToCITradeParty" type="ram:CITradePartyType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005980-->
      </xsd:element>
      <xsd:element name="ActualDeliveryCISupplyChainEvent" type="ram:CISupplyChainEventType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005986-->
      </xsd:element>
      <xsd:element name="DeliveryNoteReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01006041-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CISupplyChainEventType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CISupplyChainEventType">
    <!--UN01005626-->
    <xsd:sequence>
      <xsd:element name="OccurrenceDateTime" type="udt:DateTimeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005628-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIILBSubordinateTradeLineItemType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIILBSubordinateTradeLineItemType">
    <!--UN01009647-->
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01009648-->
      </xsd:element>
      <xsd:element name="CategoryCode" type="udt:CodeType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01014637-->
      </xsd:element>
      <xsd:element name="SpecifiedCIILBSupplyChainTradeAgreement" type="ram:CIILBSupplyChainTradeAgreementType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01009649-->
      </xsd:element>
      <xsd:element name="SpecifiedCIILBSupplyChainTradeDelivery" type="ram:CIILBSupplyChainTradeDeliveryType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01009650-->
      </xsd:element>
      <xsd:element name="SpecifiedCIILBSupplyChainTradeSettlement" type="ram:CIILBSupplyChainTradeSettlementType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01009651-->
      </xsd:element>
      <xsd:element name="ApplicableCITradeProduct" type="ram:CITradeProductType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01010016-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIILBSupplyChainTradeAgreementType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIILBSupplyChainTradeAgreementType">
    <!--UN01009653-->
    <xsd:sequence>
      <xsd:element name="BuyerOrderReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01009655-->
      </xsd:element>
      <xsd:element name="AdditionalReferencedCIReferencedDocument" type="ram:CIReferencedDocumentType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01009656-->
      </xsd:element>
      <xsd:element name="NetPriceProductCITradePrice" type="ram:CITradePriceType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01009658-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradePriceType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradePriceType">
    <!--UN01005790-->
    <xsd:sequence>
      <xsd:element name="ChargeAmount" type="udt:AmountType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005792-->
      </xsd:element>
      <xsd:element name="BasisQuantity" type="udt:QuantityType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005793-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIILBSupplyChainTradeDeliveryType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIILBSupplyChainTradeDeliveryType">
    <!--UN01009659-->
    <xsd:sequence>
      <xsd:element name="BilledQuantity" type="udt:QuantityType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01014639-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CIILBSupplyChainTradeSettlementType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CIILBSupplyChainTradeSettlementType">
    <!--UN01009664-->
    <xsd:sequence>
      <xsd:element name="ApplicableCITradeTax" type="ram:CITradeTaxType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01009665-->
      </xsd:element>
      <xsd:element name="SpecifiedCITradeAllowanceCharge" type="ram:CITradeAllowanceChargeType"  minOccurs="0" maxOccurs="unbounded"  >
        <!--UN01014644-->
      </xsd:element>
      <xsd:element name="BillingCISpecifiedPeriod" type="ram:CISpecifiedPeriodType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01014894-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CITradeProductType ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CITradeProductType">
    <!--UN01005809-->
    <xsd:sequence>
      <xsd:element name="Name" type="udt:TextType"  minOccurs="0" maxOccurs="1"  >
        <!--UN01005815-->
      </xsd:element>
      <xsd:element name="Description" type="udt:TextType"  minOccurs="1" maxOccurs="1"  >
        <!--UN01005817-->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Unqualified Data Type Definitions 21p0                 ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: AmountType                            ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="AmountType">
    <!--UDT000001-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="currencyID" type="xsd:token" use="optional" />
        <xsd:attribute name="currencyCodeListVersionID" type="xsd:token" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BinaryObjectType                      ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="BinaryObjectType">
    <!--UDT000002-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
        <xsd:attribute name="mimeCode" type="xsd:token" use="optional" />
        <xsd:attribute name="encodingCode" type="xsd:token" use="optional" />
        <xsd:attribute name="characterSetCode" type="xsd:token" use="optional" />
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="filename" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CodeType                              ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CodeType">
    <!--UDT000007-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:token">
        <xsd:attribute name="listID" type="xsd:token" use="optional" />
        <xsd:attribute name="listAgencyID" type="xsd:token" use="optional" />
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" />
        <xsd:attribute name="listName" type="xsd:string" use="optional" />
        <xsd:attribute name="listVersionID" type="xsd:token" use="optional" />
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="languageID" type="xsd:token" use="optional" />
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTimeType                          ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="DateTimeType">
    <!--UDT000008-->
    <xsd:choice>
      <xsd:element name="DateTimeString">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="format" type="xsd:string" use="optional" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DateTime" type="xsd:dateTime"/>
    </xsd:choice>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DateType                              ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="DateType">
    <!--UDT000009-->
    <xsd:choice>
      <xsd:element name="DateString">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="format" type="xsd:string" use="optional" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Date" type="xsd:date"/>
    </xsd:choice>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GraphicType                           ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="GraphicType">
    <!--UDT000003-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
        <xsd:attribute name="mimeCode" type="xsd:token" use="optional" />
        <xsd:attribute name="encodingCode" type="xsd:token" use="optional" />
        <xsd:attribute name="characterSetCode" type="xsd:token" use="optional" />
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="filename" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: IDType                                ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="IDType">
    <!--UDT0000011-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:token">
        <xsd:attribute name="schemeID" type="xsd:token" use="optional" />
        <xsd:attribute name="schemeName" type="xsd:string" use="optional" />
        <xsd:attribute name="schemeAgencyID" type="xsd:token" use="optional" />
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional" />
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional" />
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: IndicatorType                         ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="IndicatorType">
    <!--UDT0000012-->
    <xsd:choice>
      <xsd:element name="IndicatorString">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="format" type="xsd:string" use="optional" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Indicator" type="xsd:boolean"/>
    </xsd:choice>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasureType                           ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="MeasureType">
    <!--UDT0000013-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="xsd:token" use="optional" />
        <xsd:attribute name="unitCodeListVersionID" type="xsd:token" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameType                              ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="NameType">
    <!--UDT0000020-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="languageID" type="xsd:token" use="optional" />
        <xsd:attribute name="languageLocaleID" type="xsd:token" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NumericType                           ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="NumericType">
    <!--UDT0000014-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: PercentType                           ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="PercentType">
    <!--UDT0000016-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: PictureType                           ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="PictureType">
    <!--UDT000004-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
        <xsd:attribute name="mimeCode" type="xsd:token" use="optional" />
        <xsd:attribute name="encodingCode" type="xsd:token" use="optional" />
        <xsd:attribute name="characterSetCode" type="xsd:token" use="optional" />
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="filename" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: QuantityType                          ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="QuantityType">
    <!--UDT0000018-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="xsd:token" use="optional" />
        <xsd:attribute name="unitCodeListID" type="xsd:token" use="optional" />
        <xsd:attribute name="unitCodeListAgencyID" type="xsd:token" use="optional" />
        <xsd:attribute name="unitCodeListAgencyName" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: RateType                              ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="RateType">
    <!--UDT0000017-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SoundType                             ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="SoundType">
    <!--UDT000005-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
        <xsd:attribute name="mimeCode" type="xsd:token" use="optional" />
        <xsd:attribute name="encodingCode" type="xsd:token" use="optional" />
        <xsd:attribute name="characterSetCode" type="xsd:token" use="optional" />
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="filename" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: TextType                              ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="TextType">
    <!--UDT0000019-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="languageID" type="xsd:token" use="optional" />
        <xsd:attribute name="languageLocaleID" type="xsd:token" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: TimeType                              ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="TimeType">
    <!--UDT0000010-->
    <xsd:choice>
      <xsd:element name="TimeString">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="format" type="xsd:string" use="optional" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Time" type="xsd:time"/>
    </xsd:choice>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ValueType                             ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="ValueType">
    <!--UDT0000015-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VideoType                             ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="VideoType">
    <!--UDT000006-->
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
        <xsd:attribute name="mimeCode" type="xsd:token" use="optional" />
        <xsd:attribute name="encodingCode" type="xsd:token" use="optional" />
        <xsd:attribute name="characterSetCode" type="xsd:token" use="optional" />
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="filename" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
